body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'inter';
    user-select: none;
    color: var(--color-grey-7);
}

main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 100%;
}



